* text=auto !eol
/LICENSE -text
inc/problem.class.php -text
inc/ticketsatisfaction.class.php -text
locales/de_DE.mo -text
locales/de_DE.po -text
locales/en_GB.mo -text
locales/en_GB.po -text
locales/es_AR.mo -text
locales/es_AR.po -text
locales/es_ES.mo -text
locales/es_ES.po -text
locales/fi_FI.mo -text
locales/fi_FI.po -text
locales/fr_FR.mo -text
locales/fr_FR.po -text
locales/glpi.pot -text
locales/hu_HU.mo -text
locales/hu_HU.po -text
locales/it_IT.mo -text
locales/it_IT.po -text
locales/nl_NL.mo -text
locales/nl_NL.po -text
locales/pt_BR.mo -text
locales/pt_BR.po -text
locales/ro_RO.mo -text
locales/ro_RO.po -text
locales/ru_RU.mo -text
locales/ru_RU.po -text
